:root {
    //colors
    --black-primary: rgba(41, 41, 41, 1);
    --black-secondary: rgba(34, 34, 34, 1);
    --black-tertiary: rgba(13, 14, 14, 1);
    --black-fade: rgba(106, 106, 106, 1);
    --white-primary: rgb(255, 255, 255, 1);
    --white-secondary: rgba(246, 246, 250, 1);
    --white-tertiary: rgba(248, 248, 248, 1);
    --red-primary: rgba(247, 47, 43, 1);

}