:root {
    --font-primary: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    //type scale
    --text-xs: 0.8125rem; //13px
    --text-sm: 1rem; // 16px
    --text-md: 1.25rem; // 20px
    //line height

}